
 <div class="submission-history">

 <div class="history-header">

  <div class="history-header-content">
    <h2 class="history-title">Submission History</h2>

    <p class="history-description">View your submissions across different levels.</p>
 </div>

  <div class="history-filters">

    <app-dropdown  id="level-filter"  label="Filter by level"  [options]="levelOptions" [value]="selectedLevel" (selectionChange)="selectedLevel = $event"> </app-dropdown>

     <app-dropdown  id="status-filter" label="Filter by status"  [options]="statusOptions"  [value]="selectedStatus"  (selectionChange)="selectedStatus = $event"> </app-dropdown>

     </div>

 </div>


 @if (historyLoading) {

  <div class="empty-history">
    <i class="pi pi-spin pi-spinner"></i>
    Loading submission history...
  </div>

} @else if (historyError) {

  <div class="empty-history">
    {{ historyError }}
  </div>

} @else {

<app-table  [columns]="tableColumns" [data]="paginatedTableData" [loading]="false" emptyMessage="No submissions found."></app-table>

<app-pagination [currentPage]="currentPage" [totalItems]="filteredTableData.length" [itemsPerPage]="itemsPerPage" itemLabel="submissions" (pageChange)="onPageChange($event)"></app-pagination>

}


 <ng-template #statusTemplate let-row>
 <span class="status-badge" [ngClass]="statusClass(row.status)"> {{ statusLabel(row.status) }}</span>
 </ng-template>


 <ng-template #logTemplate let-row>
 <app-button variant="secondary" width="100%" (click)="downloadLog(row.submission)" (keydown)="null" (keyup)="null">  <i class="pi pi-download"></i>
  Log
  </app-button>

  </ng-template>



</div>