<div class="submission-page">

    <div class="submission-header">
        <h1 class="submission-title">Submit Solution</h1>
        <p class="submission-prompt">Select a level below to view its requirements and submit your solution.</p>
    </div>

    @if (teamError) {
        <div class="empty-history">{{ teamError }}</div>
    }

    @if (levelsLoading) {
        <div class="empty-history">
            <i class="pi pi-spin pi-spinner"></i> Loading levels...
        </div>
    } @else if (levelsError) {
        <div class="empty-history">{{ levelsError }}</div>
    } @else if (levels.length === 0) {
        <div class="empty-history">No levels have been published for this event yet.</div>
    } @else {

    <p-tabs
        [(value)]="activeLevel"
        scrollable>

        <p-tablist>

         @for (level of levels; track level.id) {
                <p-tab [value]="level.id.toString()">{{ level.name }}</p-tab>
            }

        </p-tablist>

        <p-tabpanels>

            @for (level of levels; track level.id) {

                <p-tabpanel [value]="level.id.toString()">

                    <div class="level-content">

                        <div class="level-header">

                            <div class="level-info">
                                <div class="level-number">{{ level.levelNumber }}</div>
                                <h2 class="level-name">{{ level.name }}</h2>
                            </div>

                            <button
                                type="button"
                                class="secondary-btn"
                                (click)="downloadLevelFiles(level.id)">
                                Download Level Files
                            </button>

                        </div>

                        <div class="upload-area">

                                <div class="upload-grid">

                                    <div class="upload-card">

                                        <h3 class="upload-title">Upload Source Code Archive</h3>

                                        <p-fileUpload
                                            #sourceUploader
                                            mode="advanced"
                                            accept=".zip"
                                            [multiple]="false"
                                            [customUpload]="true"
                                            [auto]="false"
                                            (onSelect)="onSourceSelected($event)"
                                            >

                                            <ng-template pTemplate="content">

                                                <div class="upload-dropzone" [class.file-selected]="sourceArchive">

                                                    @if (sourceArchive) {

                                                        <button
                                                            pButton
                                                            type="button"
                                                            icon="pi pi-times"
                                                            text rounded
                                                            class="remove-file-btn"
                                                            (click)="removeSourceFile(sourceUploader)">
                                                        </button>

                                                        <i class="pi pi-file upload-icon"></i>
                                                        <h4 class="selected-file-name">{{ formatFileName(sourceArchive.name) }}</h4>
                                                        <p class="drop-subtitle"> Click or drag a new file to replace</p>

                                                       <button
                                                        type="button"
                                                        class="secondary-btn"
                                                        (click)="sourceUploader.choose()">
                                                        Replace ZIP File
                                                    </button>
                                                        
                                                    } 
                                                    
                                                    @else {

                                                        <i class="pi pi-cloud-upload upload-icon"></i>
                                                        <h4 class="drop-title">Drag and drop your ZIP here</h4>

                                                        <p class="drop-subtitle">or click to browse files</p>
                                                        <button
                                                            type="button"
                                                            class="secondary-btn"
                                                            (click)="sourceUploader.choose()">
                                                            Choose ZIP File
                                                        </button>
                                                    }

                                                </div>
                                            </ng-template>

                                        </p-fileUpload>

                                    </div>

                                    <div class="upload-card">

                                        <h3 class="upload-title">Upload Solution Output File</h3>

                                        <p-fileUpload
                                            #solutionUploader
                                            mode="advanced"
                                            [multiple]="false"
                                            [customUpload]="true"
                                            accept=".json"
                                            [auto]="false"                                      
                                            (onSelect)="onSolutionSelected($event)"
                                            >
                                            <ng-template pTemplate="content">

                                                <div
                                                    class="upload-dropzone" [class.file-selected]="solutionOutput">

                                                    @if (solutionOutput) {
                                                        <button
                                                            pButton
                                                            type="button"
                                                            icon="pi pi-times"
                                                            text rounded
                                                            class="remove-file-btn"
                                                            (click)="removeSolutionFile(solutionUploader)">
                                                        </button>

                                                        <i class="pi pi-file upload-icon"></i>

                                                        <h4 class="selected-file-name">{{ formatFileName(solutionOutput.name) }}</h4>
                                                        <p class="drop-subtitle">Click or drag a new file to replace </p>

                                                        <button
                                                            type="button"
                                                            class="secondary-btn"
                                                            (click)="solutionUploader.choose()">
                                                            Replace JSON File
                                                        </button>

                                                    } @else {
                                                        <i class="pi pi-cloud-upload upload-icon"></i>
                                                        <h4 class="drop-title">Drag and drop your JSON here</h4>
                                                         <p class="drop-subtitle">or click to browse files</p>

                                                      <button
                                                            type="button"
                                                            class="secondary-btn"
                                                            (click)="solutionUploader.choose()">
                                                            Choose JSON File
                                                        </button>
                                                    }

                                                </div>

                                            </ng-template>

                                        </p-fileUpload>

                                    </div>
                                </div>

                                @if (submitError) {
                                    <div class="empty-history">{{ submitError }}</div>
                                }
                                @if (submitSuccess) {
                                    <div class="empty-history">{{ submitSuccess }}</div>
                                }

                                <div class="submit-bar">
                                    <span class="submit-message">
                                        @if (!teamId) {
                                            Join a team for this event to enable submission
                                        } @else {
                                            Upload both files to enable submission
                                        }
                                    </span>
                                    <button
                                        type="button"
                                        class="primary-btn"
                                        [disabled]="!canSubmit"
                                        (click)="submitSolution(sourceUploader, solutionUploader)">
                                        {{ submitting ? 'Submitting...' : 'Submit Solution' }}
                                    </button>
                                </div>
                        </div>

                    </div>

                </p-tabpanel>

            }

        </p-tabpanels>

    </p-tabs>

    }

   

</div>