<p-tabs [scrollable]="true" class="custom-tabs">

<p-tablist [attr.aria-label]="ariaLabel">

@for (tab of tabs; track $index) {

@if (tab.type === 'label') {

<span class="tab-label"> @if (tab.icon) { <i [class]="tab.icon"></i> }{{ tab.label }}</span>} 

@else {

<p-tab [value]="$index.toString()" [routerLink]="tab.route" routerLinkActive="tab-route-active" [routerLinkActiveOptions]="{ exact: true }">

@if (tab.icon) {  <i [class]="tab.icon"></i>}

<span>{{ tab.label }}</span>

</p-tab>

}

}

</p-tablist>

</p-tabs>