<div class="register-page"> 
 
  <section class="register-hero"> 
    <img src="assets/images/robots.jpg" alt="Robots Coding" class="register-hero-image"/> 
  </section> 
 
  <section class="register-section"> 
 
    <div class="register-container"> 
 
      <h1 class="register-title">Create an account</h1> 
 
      <p class="register-subtitle"> Join the Hackathon Platform and start building great solutions.</p> 
 
      <form #registerForm="ngForm" (ngSubmit)="onCreateAccount(registerForm)"> 
 
        <div class="register-input"> 
          <app-input id="firstName" label="First name" type="text" placeholder="Enter your first name" [(value)]="firstName"/> 
        </div> 
 
        <div class="register-input"> 
         <app-input id="lastName" label="Last name" type="text" placeholder="Enter your last name" [(value)]="lastName"/> 
        </div> 
 
        <div class="register-input"> 
         <app-input id="email" label="Email" type="email" placeholder="Enter your email" [(value)]="email"/> 
        </div> 
 
        <div class="register-input"> 
          <app-input id="password" label="Password" type="password" placeholder="Enter your password" [(value)]="password"/> 
        </div> 
 
        <div class="register-input"> 
         <app-input id="confirmPassword" label="Confirm password" type="password" placeholder="Re-enter your password" [(value)]="confirmPassword"/>
          <p *ngIf="confirmPassword && password !== confirmPassword" class="password-error">Passwords do not match.</p>  
        </div> 

        <div class="password-requirements"> 
 
            <p>Password must contain:</p> 
            
            <ul> 
             <li [class.valid]="password.length >= 8"> At least 8 characters</li> 
              <li [class.valid]="/[A-Z]/.test(password)">One uppercase letter</li> 
              <li [class.valid]="/[a-z]/.test(password)">One lowercase letter</li> 
              <li [class.valid]="/[0-9]/.test(password)">One number</li> 
              <li [class.valid]="/[^A-Za-z0-9]/.test(password)">One special character</li> 
            </ul> 
 
        </div> 
 
      </form> 
 
    </div> 
 
  </section> 
 
</div> 