<div class = "super-admin-page">

    <header class = "super-admin-topbar">
        <div class = "brand">
            <span class = "brand-line1">Hackathon</span>
            <span class = "brand-line2">Platform</span>
            <span class = "super-admin-tag">Super Admin</span>
        </div>
        <button type = "button" class ="logout-btn" (click) = "logout()">
            <i class = "pi pi-sign-out"></i>Logout
        </button>
    </header>

    <main class = "super-admin-content">
        <div class = "page-header">
            <h1>User Management</h1>
            <p class = "page-subtitle">Logged is as: <string>{{loggedInAsName}}</string></p>
        </div>

    </main>
</div>