<div class="login-page">

  <div class="login-panel">

    <div class="login-content">

       <div class="logo-section">
        <img
          src="assets/images/hackathon_logo_navbar.png"
          alt="Hackathon Platform Logo"
          class="login-logo" />
      </div>

      <div class="heading-area">
        <h1 class="header-prompt">Sign in to the Hackathon Portal</h1>
      </div>

      <div class="section-divider"></div>


    </div>

  </div>

  <div class="hero-container">
 
  </div>

</div>