
<div class="login-page">

<section class="login-hero">
  <img src="assets/images/robots.jpg" alt="Robots Coding" class="login-hero-image"/>
</section>

  <section class="login-section">

    <div class="login-container">

      <h1 class="login-title">Login</h1>

      <p class="login-subtitle"> Enter your email and password to continue.</p>


      <form #loginForm="ngForm" (ngSubmit)="onSignIn()">

        <div class="login-input">
          <app-input id="email" label="Email" type="email" placeholder="Enter your email" [(value)]="email"/>
        </div>

        <div class="login-input">
        <app-input id="password" label="Password" type="password" placeholder="Enter your password" [(value)]="password"/>
        </div>

      </form>

    </div>

  </section>

</div>