
<div class="event-subnav">
 <div class="event-subnav-inner">

  <div class="event-tabs">
  <button [class.active]="activeTab === 'overview'" (click)="activeTab='overview'">Overview</button>

  <button [class.active]="activeTab === 'rules'" (click)="activeTab='rules'">Rules</button>

  <button [class.active]="activeTab === 'submissions'" (click)="activeTab='submissions'"> Upload Solution</button>

   <button [class.active]="activeTab === 'submission-history'" (click)="activeTab='submission-history'"> Submission History</button>

  <button [class.active]="activeTab === 'team'" (click)="activeTab='team'"> My Team</button>
          <button [class.active]="activeTab === 'leaderboard'" (click)="activeTab='leaderboard'">Leaderboard</button>

      
        </div>

    
  </div>

</div>

<div class="event-content">

    @if (activeTab === 'overview') {<app-overview [event]="event" [hackathonId]="hackathonId" /> }

    @if (activeTab === 'rules') {<app-rules/>}

    @if (activeTab === 'submissions' && eventId && hackathonId) { <app-submissions [eventId]="eventId"[hackathonId]="hackathonId"/>
    }

    @if (activeTab === 'submission-history' && eventId && hackathonId) {<app-submission-history [eventId]="eventId" [hackathonId]="hackathonId" />}

    @if (activeTab === 'team' && eventId) {<app-my-team [eventId]="eventId"/>}

    @if (activeTab === 'leaderboard' && eventId) { <app-leaderboard [eventId]="eventId"/>}

</div> 