<div class="leaderboard-page">
   @if (loading) {
    <div class="no-page">
        <h2>Leaderboard Loading...</h2>
        <i class="pi pi-spin pi-spinner empty-icon"></i>
    </div>
   } 
   
    @else if (leaderboardAvailable && leaderboard.length > 0) {



    @if (myTeam; as currentTeam) {

    <div class="my-team-performance">

        <div class="performance-header"><h2>My Team Performance</h2></div>

        <div class="performance-content">

        <div class="performance-team">

          <div class="team-icon"> <i class="pi pi-code"></i></div>

          <div class="team-name">  <h1>{{ currentTeam.name }}</h1> </div>

        </div>

        <div class="performance-stats">

            <div class="performance-stat">
            <div class="performance-stat-icon"> <i class="pi pi-trophy"></i></div>

            <div class="performance-stat-info">

                <span class="performance-stat-value"> #{{ currentTeam.rank }}</span>

                <span class="performance-stat-label"> Rank</span>
            </div>

            </div>

            <div class="performance-stat">
            <div class="performance-stat-icon"><i class="pi pi-star"></i></div>

            <div class="performance-stat-info">
                <span class="performance-stat-value">{{ currentTeam.score }} pts</span>
                
                <span class="performance-stat-label">Score</span>
            </div>

            </div>

        </div>

        </div>

    </div>

    }


    <div class="rankings-section">

    <div class="rankings-header">

        <div class="rankings-header-content">

        <h2 class="rankings-title">Leaderboard</h2>

        <p class="rankings-prompt"> Top performing teams in the event.</p>

        </div>

    
    </div>

        <app-table [columns]="tableColumns" [data]="tableData" [loading]="false" [rowClass]="getRowClass" emptyMessage="No teams found."></app-table>

    </div>


   } 
   
   @else{

    <div class="no-leaderboard-page">

        <i class="pi pi-lock empty-icon"></i>

        <h2>Leaderboard Currently Unavailable</h2>

    </div>

    }

</div>


<ng-template #rankTemplate let-row>

  @if (row.rank === 1) {

    <div class="rank-icon rank-gold"> {{ row.rank }} </div>

  } 
  
  @else if (row.rank === 2) {

    <div class="rank-icon rank-silver"> {{ row.rank }}</div>

  } 
  
  @else if (row.rank === 3) {

    <div class="rank-icon rank-bronze">{{ row.rank }}</div>

  } @else {


    <div class="rank-icon rank-default"> {{ row.rank }}</div>

  }

</ng-template>



<ng-template #teamTemplate let-row>

  <div class="team-cell">

    <div class="team-avatar">  {{ getInitials(row.team) }}</div>

    <span>{{ row.team }}</span>

  </div>

</ng-template>
